body {
    height: 100vh;
    width: 100vw;
    margin:0px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Open Sans",
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

.ql-toolbar .ql-stroke {
    fill: none;
}

.ql-toolbar .ql-fill {
    stroke: none;
}

#editor {
    width: 100vw;
    height: 80vh;
    left: 0;
}
#dropdown-content {
    display: none;
}
#toolbar {
    width: 52%;
    float: center;
}

.normalbutton {
    float: right;
    width: fit-content !important;
    background: none;
    padding: 5px;
    white-space: 0;
    border-width: 0px;
}

#mainheader {
    font-family: "SF Mono", "Monaco", "Consolas", "Liberation Mono",
        "Courier New", monospace;
    text-align: center;
}

#unfoc {
    display: none;
}

.ql-snow {
    .ql-picker {
        &.ql-size {
            .ql-picker-label,
            .ql-picker-item {
                &::before {
                    content: attr(data-value) !important;
                }
            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 1;
    transition: opacity 0.3s;
    border-radius: 12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#htmlout {
    display: none;
    max-height: 80%;
    float: left;
}
