body {
    background-color: #181825;
    height: 100vh;
    color: #cdd6f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }

.ql-toolbar .ql-stroke {
    fill: none;
}
  
.ql-toolbar .ql-fill {
    fill: #cdd6f4;
    stroke: none;
}
  
.ql-toolbar .ql-picker {
    color: #cdd6f4;
}

.ql-picker-options {
    background-color: #181825 !important;
}

#editor {
    width: 70%;
    max-height: 80%;
    float: left;
}

#toolbar {
    width: 52%;
    float: left;
}

#infobar {
    float:left;
}

#charcount {
    font-size: 15px;
    text-align: right;
}

.normalbutton {
    color: #cdd6f4 !important;
    float: right;
    width: fit-content !important;
    background: none;
    padding: 0.5rem;
    white-space: 0;
    border-width: 0px;
    background-color: #1e1e2e;
}

.normalbutton:hover {
    color: #cdd6f4 !important;
    background-color: #313244 !important;
}


#mainheader {
    font-family: 'SF Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}

#unfoc {
    display: none;
}

.ql-snow{
    .ql-picker{
        &.ql-size{
            .ql-picker-label,
            .ql-picker-item{
                &::before{
                    content: attr(data-value) !important;
                }
            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00000000;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#htmlout {
    display: none;
    max-height: 80%;
    float: left;
}